<?xml version='1.0' encoding='utf-8' ?>
<settings>
    <os>
        <nt>
            <player-cmd>D:\\mpv\\mpv.exe</player-cmd>
            <subtitle-savepath>D:\\subtitles\\</subtitle-savepath>
        </nt>
        <unix>
            <player-cmd>mpv</player-cmd>
            <subtitle-savepath>~/.temp/subtitles/</subtitle-savepath>
        </unix>
    </os>
    <default-args>-b</default-args>
</settings>

