<?xml version='1.0' encoding='utf-8' ?>
<settings>
    <win32>
        <player-cmd>D:\mpv\mpv.exe</player-cmd>
        <temp-path>D:\subtitles\</temp-path>
    </win32>
    <darwin>
        <player-cmd>/usr/local/bin/mpv</player-cmd>
        <temp-path>/Users/Xu/.temp/</temp-path>
    </darwin>
    <use-cache>True</use-cache>
    <default-args>-a</default-args>
    <!--<http-proxy>http://zhang-xu-neu:Bronze3!@192.168.107.27:8080</http-proxy>-->
</settings>

